.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  animation-name: example;
  animation-duration: 7s; 
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-direction: alternate;

}


@keyframes example {
  0% {
    background-color: aquamarine;
    transform: translate(0, 0);
  }
  25% {
    background-color: coral;
    transform: translate(1000px, 0);
  }
  50% {
    background-color: gold;
    transform: translate(1000px, 500px);
  }
  75% {
    background-color: red;
    transform: translate(0, 500px);
  }
  100% {
    background-color: slateblue;
    transform: translate(0, 0);
  }
}
