.imagestyle {
    border: 2px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: contain;
    display: block;
    overflow: hidden;
}
.imagestyle1 {
    width:150px;
    height:150px;
  filter: blur(3px);
  object-fit: cover;
  display: block;
}

div{
    width: auto;
    height: auto;
    border: 2px solid black;
    
    transform: rotate(20deg);
    transform:skew(20deg);
    transform:scaleY(1.5);
}